::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
    background-color: var(--bg-buttom);
  }
  
  mat-label{
    color: var(--color-verm-destaque);
  }
  
  .inputText {
    color: var(--color-verm-destaque);
  }

main{
    background-color: var(--bg-color);
    color: var(--text-primary);
    z-index: 999;
    
}

.btn-cancel{
    background-color: none;
    color: var(--txt-secondary)
}

.btn-comprar{
    background-color: var(--bg-buttom);
    color: var(--txt-secondary);
    box-shadow: 1px 1px 8px black;
}