footer{
  background-color: rgb(118, 0, 0);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffeeee;
  gap: 16px;
  box-shadow: 1px 0px 8px black;

    .navbar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      // background-color: lightcoral;
      height: 100%;
      width: 100%;

      img{
          width: 320px;
        }

      .text-social{
          text-align: center;
        }

      ul{
        list-style: none;

        .title{
          font-weight: bold;
          letter-spacing: 2px;
        }

        li > a{
          text-decoration: none;
          color: #ffeeee;

          &:hover{
            text-decoration: underline;
          }
        }


      }

      // features-title how-works

      .social{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0;

        img{
          width: 48px;
          // padding: 4px;
          // border-radius: 4px;
          // background-color: #ffeeee;
          color: red;
        }
      }
    }

  .footer{
    width: 100%;

    hr{
      width: 90%;
      height: 0.5px;
      line-height: normal;
      background-color: white;
      border: none;
    }

    p{
      text-align: center;
      color: white;

    }

  }

}

@media (max-width: 1024px) {

  footer{
    .navbar{
      flex-direction: column;
      gap: 12px;
      align-items: center;
      padding: 12px;

      img{
        width: 220px;
      }

      .social img{
        width: 40px;
      }
    }
  }

}
